#admin_H1{text-align: center;margin-top: 30px;margin-bottom: 70px;}

#loginFormAdmin{width: 200px;margin: 0 auto;}

#goBackButton a{text-decoration: none;color:white;}

#goBackButton{margin-top: 10px;}

#middlePanelAdmin{width:80%;margin: 0 auto;}

#adminAusslogen{text-align: center;}

h2{text-align: center;}
