#index_H1{text-align: center;margin-top: 30px;margin-bottom: 70px;}

#headerMainpageH3{text-align: center;}

#submitLog{}

#containerAdminLogin{margin-left: 1px;width: 20%;}

#containerAdminLogin a{text-decoration: none;color:white;}

#queryEintrag{text-align: center;}

#clockWrapper{text-align: center;margin: 0;padding: 0;}

#leftPanel{width: 20%;}

#middlePanel{width: 80%;}

.hidden{display: none;}

.digital-clock {
  margin:0;
  width: 200px;
  height: 60px;
  color: white;
  text-align: center;
  font: 50px/60px 'DIGITAL', Helvetica;
  background-color:#0DCAF0;
  position: relative;
  top:5px;
}

.digital-clock-ampm {
  margin:0;

  height: 20px;
  color: white;
  text-align: center;
  font: 20px 'DIGITAL', Helvetica;
  background-color:#0DCAF0;
  position: relative;
  top: 10px;
  right:5px;
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
}


 #hideMe{
    opacity:1;
    transition:opacity 500ms;
}
#hideMe.waa {
    opacity:0;
}
